body {
  background-color: #eef2f5;
  overflow-x: hidden;
}

.custom-container {
  width: 1044px;
  max-height: 95vh;
}

.logo1 {
  height: 35px;
}

.logo2 {
  height: 45px;
}

.header-text {
  font-size: 12px;
  font-weight: 400;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

.blue {
  background-color: #005aa1;
}

.text-blue {
  color: #005aa1;
}

.grey {
  background-color: #373737;
}

.text-grey {
  color: #373737;
}

.width-fit-content {
  width: fit-content;
}

.close {
  width: 15px;
}

.position-a-tag {
  position: absolute !important;
  bottom: 10px;
}

.image-container {
  height: 50px;
  overflow: hidden;
}

.footer-text {
  font-weight: 100;
  padding: 0;
}

.footer-header-text {
  font-size: 26px;
}

.move-second-row {
  transform: translateY(-10px);
}

.move-third-row {
  transform: translateY(-20px);
}

.move-fourth-row {
  transform: translateY(-30px);
}

.footer-height {
  max-height: 220px;
}

.main-text {
  font-weight: 100;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.main-section-header-text {
  font-size: 20px;
}

.relative {
  position: relative;
}

.main-section {
  min-height: 250px;
  padding-bottom: 30px !important;
}

a {
  color: #000;
  text-decoration: none;
}

.add-event-link {
  font-weight: 500;
  color: grey;
  font-size: 14px;
}

.banner-text {
  font-weight: 300;
}

.add-event-text {
  font-weight: 400;
}

input,
textarea,
select {
  width: 250px;
}

#back {
  padding: 0;
  border: none;
  background: #e1e1e1;
}

#add {
  padding: 0;
  border: none;
  color: #ffffff;
  background: #005aa1;
}

.radioButton {
  width: 15px !important;
}

.delete {
  cursor: pointer;
}
