<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nullam</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="w-100 d-flex justify-content-center">
    <div class="custom-container mt-3 px-5">
        <div th:insert="~{header :: header}"></div>

        <div th:insert="~{banner :: banner}"></div>

        <div class="row g-0 bg-white">
            <div class="col-6 d-flex justify-content-end">
                <h4 class="text-blue py-3 add-event-text">Ürituse lisamine</h4>
            </div>
            <div class="col-6"></div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Ürituse nimi:</p>
            </div>
            <div class="col-7">
                <input type="text" id="name" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Toimumisaeg:</p>
            </div>
            <div class="col-7">
                <input type="datetime-local" id="time" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Koht:</p>
            </div>
            <div class="col-7">
                <input type="text" id="place" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Lisainfo:</p>
            </div>
            <div class="col-7">
                <textarea type="text" id="info"></textarea>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <div class="d-flex py-5">
                    <button class="m-2 px-2" id="back">Tagasi</button>
                    <button class="m-2 px-2" id="add" type="submit">Lisa</button>
                </div>
            </div>
        </div>

        <div th:insert="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/js/add-event.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
</body>
</html>
