<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nullam</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:fragment="banner">
    <div class="row mt-3 g-0">
        <div class="col-3 align-items-center">
            <div
                    class="blue h-100 d-flex justify-content-center align-items-center"
            >
                <h4 class="text-light banner-text">Ürituse lisamine</h4>
            </div>
        </div>
        <div class="col-9">
            <img class="w-100 image-container" th:src="@{/images/libled2.jpg}" />
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
</body>
</html>
