<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nullam</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="w-100 d-flex justify-content-center">
    <div class="custom-container mt-3 px-5">
        <div th:insert="~{header :: header}"></div>

        <div th:insert="~{banner :: banner}"></div>

        <div class="row g-0 bg-white">
            <div class="col-3"></div>
            <div class="col-9 d-flex justify-content-start">
                <h4 class="text-blue py-3 add-event-text">Osavõtjad</h4>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Ürituse nimi:</p>
            </div>
            <div class="col-7">
                <p th:text="${event.name}"></p>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Toimumisaeg:</p>
            </div>
            <div class="col-7">
                <p th:text="${event.displayTime}"></p>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Koht:</p>
            </div>
            <div class="col-7">
                <p th:text="${event.place}"></p>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Osavõtjad:</p>
            </div>
            <div class="col-7">
                <div
                        class="row p-1"
                        th:each="participant, eventIndex : ${participants}"
                >
                    <div
                            th:if="${participant.business}"
                            th:text="${eventIndex.index + 1 + '. ' + participant.name}"
                            class="col-4"
                    ></div>
                    <div
                            th:if="${not participant.business}"
                            th:text="${eventIndex.index + 1 + '. ' + participant.firstname + ' ' + participant.lastname}"
                            class="col-4"
                    ></div>
                    <div th:text="${participant.code}" class="col-3"></div>
                    <div class="col-2 px-1" th:if="${participant.business}">
                        <a
                                th:href="@{/business/{participantId}(participantId=${participant.id})}"
                        >
                            VAATA
                        </a>
                    </div>
                    <div class="col-2 px-1" th:if="${not participant.business}">
                        <a
                                th:href="@{/person/{participantId}(participantId=${participant.id})}"
                        >
                            VAATA
                        </a>
                    </div>
                    <div
                            th:if="${participant.business}"
                            th:onclick="'removeBusinessEventAndRedirect(' + ${participant.id} + ')'"
                            class="col-2 px-1"
                    >
                        <a class="delete"> KUSTUTA </a>
                    </div>
                    <div
                            th:if="${not participant.business}"
                            th:onclick="'removePersonEventAndRedirect(' + ${participant.id} + ')'"
                            class="col-2 px-1"
                    >
                        <a class="delete"> KUSTUTA </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3"></div>
            <div class="col-9 d-flex justify-content-start">
                <h4 class="text-blue py-3 add-event-text">Osavõtjate lisamine</h4>
            </div>
        </div>

        <div class="row g-0 bg-white p-2">
            <div class="col-5 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <input
                        class="radioButton"
                        type="radio"
                        id="person"
                        name="radio"
                        value="person"
                        checked="checked"
                />
                <label for="person">Eraisik</label><br />
            </div>
            <div class="col-5">
                <input
                        class="radioButton"
                        type="radio"
                        id="business"
                        name="radio"
                        value="business"
                />
                <label for="business">Ettevõte</label>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="person font-weight-bold">Eesnimi:</p>
                <p class="business font-weight-bold" style="display: none">
                    Ettevõte nimi:
                </p>
            </div>
            <div class="col-7">
                <input type="text" id="firstname" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="person font-weight-bold">Perenimi:</p>
                <p class="business font-weight-bold" style="display: none">
                    Ettevõte registrikood:
                </p>
            </div>
            <div class="col-7">
                <input type="text" id="lastname" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="person font-weight-bold">Isikukood:</p>
                <p class="business font-weight-bold" style="display: none">
                    Osavõtjate arv:
                </p>
            </div>
            <div class="col-7">
                <input type="text" id="code" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Maksmisviis:</p>
            </div>
            <div class="col-7">
                <select id="method">
                    <option
                            th:each="method : ${methods}"
                            th:text="${method.name}"
                            th:value="${method.value}"
                    >
                        Pangaülekanne
                    </option>
                </select>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p class="font-weight-bold">Lisainfo:</p>
            </div>
            <div class="col-7">
                <textarea type="text" id="info"></textarea>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <div class="d-flex py-5">
                    <button class="m-2 px-2" id="back">Tagasi</button>
                    <button class="m-2 px-2" id="add" type="submit">Salvesta</button>
                </div>
            </div>
        </div>

        <div th:insert="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/js/event.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
</body>
</html>
