<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nullam</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="w-100 d-flex justify-content-center">
    <div class="custom-container mt-3 px-5">
        <div th:insert="~{header :: header}"></div>

        <div class="row mt-3 g-0">
            <div class="col-6 align-items-center">
                <div
                        class="blue h-100 d-flex align-items-center justify-content-center px-4"
                >
                    <h4 class="text-light main-text">
                        Lorem ipsum dolor sit amet,
                        <span class="font-weight-bold">consectetur adipiscing</span>
                        elit. Nullam volutpat posuere ante, at fringilla dui
                        <span class="font-weight-bold">congue quis</span>. Nunc non
                        placerat ligula.
                    </h4>
                </div>
            </div>
            <div class="col-6">
                <img class="w-100" th:src="@{/images/pilt.jpg}" />
            </div>
        </div>

        <div class="row mt-3 relative">
            <div class="col-6">
                <div class="blue">
                    <h4
                            class="p-1 text-light main-text d-flex justify-content-center align-items-center main-section-header-text"
                    >
                        Tulevased üritused
                    </h4>
                    <div class="p-2 bg-white main-section">
                        <div th:if="${futureEvents}">
                            <div
                                    th:each="event, eventIndex : ${futureEvents}"
                                    class="row"
                            >
                                <div class="col-4">
                                    <a
                                            th:text="${eventIndex.index + 1 + '. ' + event.name}"
                                            th:href="@{/event/{eventId}(eventId=${event.id})}"
                                    ></a>
                                </div>
                                <div class="col-2" th:text="${event.place}"></div>
                                <div th:text="${event.displayTime}" class="col-2">
                                    14.02.2016
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div
                                            class="d-flex justify-content-end align-items-center"
                                    >
                                        <div>OSAVÕTJAD</div>
                                        <div th:text="'(' + ${event.count} + ')'"></div>
                                        <div
                                                th:onclick="'removeEventAndRedirect(' + ${event.id} + ')'"
                                        >
                                            <img class="close" th:src="@{/images/remove.svg}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="blue">
                    <h4
                            class="p-1 text-light main-text d-flex justify-content-center align-items-center main-section-header-text"
                    >
                        Toimunud üritused
                    </h4>
                    <div class="p-2 bg-white main-section">
                        <div th:if="${pastEvents}">
                            <div th:each="event, eventIndex : ${pastEvents}" class="row">
                                <div class="col-4">
                                    <a
                                            th:text="${eventIndex.index + 1 + '. ' + event.name}"
                                            th:href="@{/event/{eventId}(eventId=${event.id})}"
                                    ></a>
                                </div>
                                <div class="col-2" th:text="${event.place}"></div>
                                <div th:text="${event.displayTime}" class="col-2">
                                    14.02.2016
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div
                                            class="d-flex justify-content-end align-items-center"
                                    >
                                        <div>OSAVÕTJAD</div>
                                        <div th:text="'(' + ${event.count} + ')'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="position-a-tag mx-2 add-event-link" href="/add_event"
            >LISA ÜRITUS</a
            >
        </div>

        <div th:insert="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/js/index.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
</body>
</html>
