<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nullam</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="w-100 d-flex justify-content-center">
    <div class="custom-container mt-3 px-5">
        <div th:insert="~{header :: header}"></div>

        <div th:insert="~{banner :: banner}"></div>

        <div class="row g-0 bg-white">
            <div class="col-3"></div>
            <div class="col-9 d-flex justify-content-start">
                <h4 class="text-blue py-3 add-event-text">Osavõtja info</h4>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p th:if="${not participant.business}">Eesnimi:</p>
                <p th:if="${participant.business}">Ettevõte nimi:</p>
            </div>
            <div class="col-7" th:if="${not participant.business}">
                <input
                        th:value="${participant.firstname}"
                        type="text"
                        id="firstname"
                />
            </div>
            <div class="col-7" th:if="${participant.business}">
                <input th:value="${participant.name}" type="text" id="firstname" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p th:if="${not participant.business}">Perenimi:</p>
                <p th:if="${participant.business}">Ettevõte registrikood:</p>
            </div>
            <div class="col-7" th:if="${not participant.business}">
                <input
                        th:value="${participant.lastname}"
                        type="text"
                        id="lastname"
                />
            </div>
            <div class="col-7" th:if="${participant.business}">
                <input th:value="${participant.code}" type="text" id="lastname" />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p th:if="${not participant.business}">Isikukood:</p>
                <p th:if="${participant.business}">Osavõtjate arv:</p>
            </div>
            <div class="col-7" th:if="${not participant.business}">
                <input th:value="${participant.code}" type="text" id="code" />
            </div>
            <div class="col-7" th:if="${participant.business}">
                <input
                        th:value="${participant.participants}"
                        type="text"
                        id="code"
                />
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p>Maksmisviis:</p>
            </div>
            <div class="col-7">
                <select id="method">
                    <option
                            th:each="method : ${methods}"
                            th:text="${method.name}"
                            th:value="${method.value}"
                            th:selected="${#strings.equalsIgnoreCase(participant.method, method.value)}"
                    >
                        Pangaülekanne
                    </option>
                </select>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <p>Lisainfo:</p>
            </div>
            <div class="col-7">
            <textarea
                    th:text="${participant.info}"
                    type="text"
                    id="info"
            ></textarea>
            </div>
        </div>

        <div class="row g-0 bg-white">
            <div class="col-3 d-flex"></div>
            <div class="col-2 d-flex justify-content-start">
                <div class="d-flex py-5">
                    <button class="m-2 px-2" id="back">Tagasi</button>
                    <button class="m-2 px-2" id="add" type="submit">Salvesta</button>
                </div>
            </div>
        </div>

        <div th:insert="~{footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/js/participant.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
></script>
</body>
</html>
